h1 {
    font-size: 4em;
    color: rgb(23, 0, 153);
    text-align:center;
}

h2 {
    font-size: 3em;
    color: rgb(23, 0, 153);
    text-align:center;
    margin-top: 100px;
}

h3 {
    font-size: 2em;
    color: rgb(23, 0, 153);
    text-align:center;
    margin-top: 100px;
}

.c1, .c2, .c3, .c4, .c5 {
    height: 400px;
    width: 800px;
    border: 3px solid black;
    margin: 0 auto;
    position: relative;
}

.red {
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
}

.yellow {
    height: 150px;
    width: 150px;
    background-color: yellow;
    position: absolute;
}

.green {
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
}

.blue {
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
}

.c1 .yellow {
    top: 25px;
    left: 25px;
}

.c1 .green {
    top: 50px;
    left: 50px;
}


.c1 .blue {
    top: 75px;
    left: 75px;
}

.c2 .blue {
    left:750px;
}

.c3 .green {
    top: 100px;
    left: 200px;
}

.c3 .blue {
    top: 150px;
    left:200px;
}

.c4 .yellow {
    top:50px;
    left:50px;
}

.c4 .blue {
    top:50px;
    left:50px;
}

.c5 .yellow {
    top:250px;
    left:650px;
}

.c5 .green {
    top:150px;
    left:650px;
}

button {
    display: block;
    margin: 50px auto;
    width: 175px;
    height:65px;
    font-size:2em;
    border:none;
    border-radius:10px;
    background-color: rgb(78,153,245);
    color: white;
    transition: ease-in-out all 0.05s;
}

button:hover {
    background-color: rgb(46,99,163);
}

button:active {
    transform: scale(1.05);
  }

.container {
    border-radius:10px;
    width: 25%;
    margin: 0 auto;
    background-color: rgb(235,235,235);
    padding-bottom: 0.5em;
    border: 1px solid rgb(208,208,208);
    box-shadow: 0px 5px 5px rgb(200,200,200);
}

img {
    width: 100%;
    border-radius:10px 10px 0 0 ;
}

.cat2 p {
    font-size: 1.5em;
    font-weight:bold;
    margin: 1em;
}

.cat3 p {
    margin: 1em;
}